-- SERVICES TABLE
CREATE TABLE services (
  id SERIAL PRIMARY KEY,
  category TEXT NOT NULL CHECK (category IN 
    ('Food', 'Health', 'Shelter', 'Protection', 'Livelihoods', 'Data', 'General', 'Education', 'Legal', 'WASH')
  ),
  organization TEXT NOT NULL,
  services TEXT NOT NULL,
  contact_phone TEXT,
  contact_email TEXT,
  location TEXT NOT NULL,
  notes TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- CONTACTS TABLE
CREATE TABLE contacts (
  id SERIAL PRIMARY KEY,
  entity TEXT NOT NULL,
  phone TEXT,
  email TEXT,
  description TEXT NOT NULL,
  type TEXT NOT NULL CHECK (type IN ('Emergency', 'General', 'Fraud', 'Hospital')),
  is_urgent BOOLEAN DEFAULT FALSE,
  notes TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- REGISTRATION STEPS TABLE
CREATE TABLE registration_steps (
  id SERIAL PRIMARY KEY,
  step_number INTEGER NOT NULL,
  title TEXT NOT NULL,
  description TEXT NOT NULL,
  location TEXT,
  contact_reference TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- REQUIRED DOCUMENTS
CREATE TABLE required_documents (
  id SERIAL PRIMARY KEY,
  document_name TEXT NOT NULL,
  description TEXT,
  is_essential BOOLEAN DEFAULT FALSE,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- FAQS
CREATE TABLE faqs (
  id SERIAL PRIMARY KEY,
  question TEXT NOT NULL,
  answer TEXT NOT NULL,
  category TEXT NOT NULL,
  intent_reference TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- ADMIN USERS
CREATE TABLE admin_users (
  id SERIAL PRIMARY KEY,
  username TEXT UNIQUE NOT NULL,
  email TEXT UNIQUE NOT NULL,
  password_hash TEXT NOT NULL,
  role TEXT DEFAULT 'editor' CHECK (role IN ('admin', 'editor')),
  is_active BOOLEAN DEFAULT TRUE,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  last_login TIMESTAMPTZ
);
